.red-square {
  background-color: red;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

.green-circle {
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 50px;
   margin-bottom: 30px;
}

.title {
  font-family: Arial;
  
}

.card {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(150, 150, 150);
  width: 300px;
  padding-left: 15px;
  padding-bottom: 20px;
   margin-bottom: 30px;
 
}

p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 10px;

}

.yt {
  background-color: rgb(33, 33, 33);
  width: 360px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.music {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
   
}

.subtitle {
  color: rgb(160, 160, 160);
}