 /* p {
        font-family: Roboto, Arial;
        margin-top: 0;
        margin-bottom: 0;
      }

  .thumbnail {
        width: 300px;
        display: block;
      }

  .bar {
        display: block;
      }

  .messi {
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
      }

  .div1{
        width: 300px;
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
      }

  .picture {
        display: inline-block;
        width: 50px;
        vertical-align: top;
      }

  .video-info {
        display: inline-block;
        width: 200px;
      }

  .profile{
        width: 40px;
        border-radius: 50px;
      }

  .image{
        margin-bottom: 12px;
      }

    .prabu,
    .views {
        font-size: 12px;
        color: rgb(96, 96, 96);
       }

  .prabu {
        margin-bottom: 4px;
      }

  .div2{
        display: inline-block;
        width: 300px;
        vertical-align: top;
        margin-right: 15px; 
      }

  .nicholas{
        width: 160px;
        margin-bottom:12px;
         
      }

  .sajan{
        border-radius: 50px;
        width: 40px;
      }

 .bhus{
       margin-top: 0;
        font-size: 14px;
        font-weight: 500px;
        line-height: 20px;
        margin-bottom: 12px;
    }

  .yt{
        font-size: 12px;
        color: rgb(96, 96, 96);
   }

  .bhanja{
       font-size: 12px;
        color: rgb(96, 96, 96);
        margin-bottom: 5px;
    }

  .down{
       display: inline-block;
        width: 50px;
        vertical-align: top;   
    }

  .paragraph{
       display: inline-block;
        width: 200px;
    }*/
    
